@import './fonts.css'
@import 'normalizecss/normalize.css'
@import './bespoke-base'

body
  font-size: 16px

article.deck
  color: rgba(0, 0, 0, 0.8)
  background-color: #000

section
  background-color: #fff
  &.poster
    &:not(.invert)
      background-color: #000
    > img
      max-width: 100%
      max-height: 100%
  // fix scaling in Firefox
  &.poster
    display: block
    > img
      position: relative
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)

h1, h2
  font-size: 4em
  font-weight: 400
  font-family: "Love Ya Like A Sister"
  text-align: center

h1
  span.primary, span.secondary
    display: block
  span.secondary
    font-size: 0.55em

p.author
  font-family: "Work Sans"
  font-weight: 300
  margin: 0

h2 strong
  font-weight: 400

h2.stars, h2 strong
  color: chocolate

blockquote
  font-family: "Work Sans"
  font-weight: 300
  p
    font-size: 1.75em
    line-height: 1.6
    margin: 0
  p:first-of-type::before
    content: "“"
    font-size: 2.5em
    font-weight: 500
    float: left
    margin-top: 0.25em
    margin-left: -.45em
    line-height: 0
    width: 0
  footer
    float: right;
    padding-right: 1.5em
    position: relative
    top: 1em
    &::before
      content: "— "

section.title::after
  content: ''
  display: block
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-image: url(../images/oss-virtuous-cycle-bg.svg)
  background-size: cover
  background-position: center center
  opacity: 0.1

section.recap
  color: #efeeeb
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5)
  background-color: #a2571e
  background-image: url(../images/patterns/satin-weave.png)
