doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //title All You Really Need to Know to Grow Open Source
    title Everything You Need to Know to Grow Open Source
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article.deck
      section.title
        h1
          //span.secondary All You Really Need to Know to
          span.secondary Everything You Need to Know to
          span.primary Grow Open Source
        p.author Dan Allen &middot; opendevise.io &middot; @mojavelinux
      section#brain-power.poster
        img(src='images/brain-power.jpg')
      section#arquillian-invasion.poster.motion
        img(src='images/invasion.png')
      section#why.build
        h2 Why?
      section#raison-d-etre-label.poster
        img(src='images/raison-d-etre-label-glass.jpg')
      section#amp.passion
        h2 A&middot;M&middot;P
      section#amp-2.passion
        // maybe stack them?
        h2(style='font-size: 2.5em') <strong>A</strong>utonomy &middot; <strong>M</strong>astery &middot; <strong>P</strong>urpose
      section#dogfish-head-slogan.poster
        // “off-centered ales for off-centered people”
        img(src='images/off-centered-plaque.jpg')
      section#raison-d-etre-recap.recap
        // IDEA: show "raison d'être" shot again, perhaps different angle
        //h2 Have a clear purpose
        h2 Have a raison d’être
      // TODO: come up with a way to make Community => Communicate transition using bullets
      section#community.build
        h2(style='text-align: left; width: 6em') Community
      section#communicate.build
        h2(style='text-align: left; width: 6em') Communicate
      section#add-readme.poster.invert
        img(src='images/add-readme-notice.png', style='padding: 0 1em')
      section#no-jargon
        blockquote
          p In a society that values speech free from esoteric, incomprehensible bullshit, speaking in jargon carries penalties.
          footer Carmine Gallo
      section.poster
        img(src='images/no-activity-reaper.svg')
      section.poster
        img(src='images/pulse.svg')
      section.poster
        img(src='images/neurons.jpg')
      section
        blockquote
          p What’s relevant is how well people are communicating their ideas and how well they’re cooperating, not how clever the individuals are.
          footer Matt Ridley
      section#plus-one.passion
        h2(style='font-size: 25vh; margin: 0 0 -0.25em 0') +1
      section#show-up-communicate.recap
        h2 Show up.<br>Communicate.
      section#welcome-mat.poster
        img(src='images/penguin-welcome.jpg')
      section#questions-equal-interest.build
        h2 <span>?</span> <span style="position: relative; top: -0.35em">?</span> <span style="position: relative; top: 0.15em">?</span> == Interest
      section#issue-tracker-entry-point.poster.invert
        img(src='images/issue-tracker-entry-point.jpg')
      section#front-door-sign.poster.invert
        img(src='images/front-door-sign.svg')
      section#always-be-welcoming.recap
        //h2 Always be welcoming newcomers
        h2 Always be welcoming
      section#formation.poster
        img(src='images/planet-formation.jpg')
      section
        blockquote
          p You never lose points for professionalism.
          footer Guy Martin
      section#choose-civility.poster
        img(src='images/choose-civility.svg')
      section#thank-them.poster
        img(src='images/thank-you-key.jpg')
      section#i-see-you.passion
        h2(style='font-size: 10vh') <strong>“</strong>I see you<strong style="padding-right: 0">”</strong>
      //section
      //  blockquote
      //    p Encouragement is oxygen for the soul.
      section#bartosz.poster
        img(src='images/bartosz.jpg')
      section#bartosz-devoxx.poster
        img(src='images/bartosz-devoxx.jpg')
      section#bartosz-slide.poster
        img(src='images/bartosz-slide.jpg')
      section#no-evil.poster
        img(src='images/no-evil.jpg')
      section#mirror-ball.poster
        img(src='images/mirror-ball-rays.jpg')
      //section.recap
      //  h2 Recognize them. Champion them.
      section#pool-creeper.poster
        img(src='images/pool-creeper.jpg')
      section#automate-liberally.build
         h2 Automate liberally
      section#empowerment-quote
        blockquote
          p Empowerment of individuals is a key part of what makes open source work.
          footer Tim O’Reilly
      section#empower.recap
        h2 Empower!
      section#rating-stars
        h2.stars * * * * *
      section#fade-from-memory.poster
        img(src='images/fading-photograph.jpg')
      section#faces-faces-faces.poster.invert
        img(src='images/contributors.jpg')
      //section
      //  blockquote
      //    p The best developers want to work on open code. To hire quality developers, give them an open source outlet.
      //    footer Matt Asay
      section#share-prosperity.recap
        h2 Share the prosperity
      section#virtuous-cycle.poster.invert
        img(src='images/oss-virtuous-cycle.svg')
      section#thank-you.poster.fin
        h2 Thank you and good luck
        img(src='images/namaste-tap.jpg')
      section
        h2(style='margin: 0') Illustrations by
        p.author(style='margin-top: 1em; font-size: 1.25em') Sarah White &middot; @carbonfray
    script(src='build/build.js')
