doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //title All You Really Need to Know to Grow Open Source
    title Everything You Need to Know to Grow Open Source
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article.deck
      section.title
        h1
          //span.secondary All You Really Need to Know to
          span.secondary Everything You Need to Know to
          span.primary Grow Open Source
        p.author Dan Allen &middot; opendevise.io &middot; @mojavelinux
      section.poster
        img(src='images/brain-power.jpg')
      section.poster
        img(src='images/invasion.png')
      section
        h2 Why?
      section.poster
        img(src='images/raison-d-etre-label-glass.jpg')
      section
        h2 A&middot;M&middot;P
      section
        // maybe stack them?
        h2(style='font-size: 2.5em') <strong>A</strong>utonomy &middot; <strong>M</strong>astery &middot; <strong>P</strong>urpose
      section.poster
        // “off-centered ales for off-centered people”
        img(src='images/off-centered-plaque.jpg')
      section.recap
        // IDEA: show "raison d'être" shot again, perhaps different angle
        h2 Have a clear purpose
      section.poster.invert
        img(src='images/add-readme-notice.png', style='padding: 0 1em')
      section
        blockquote
          p In a society that values speech free from esoteric, incomprehensible bullshit, speaking in jargon carries penalties.
          footer Carmine Gallo
      section.poster
        //img(src='images/flatline-reaper.jpg')
        img(src='images/no-activity-reaper.png')
      section.poster
        img(src='images/returning-pulse.jpg')
      section.poster
        img(src='images/neurons.jpg')
      section
        blockquote
          p What’s relevant is how well people are communicating their ideas and how well they’re cooperating, not how clever the individuals are.
          footer Matt Ridley
      section
        h2 Communi<span style="color: transparent">cate</span><span style="display: inline-block; width: 0; margin-left: -2.05em">ty</span>
      section
        h2 Communicate
      section
        h2(style='font-size: 25vh; margin: 0 0 -0.25em 0') +1
      section.recap
        h2 Show up &amp; communicate
      section.poster
        img(src='images/penguin-welcome.jpg')
      section
        h2 ? ? ? == Interest
      section.poster.invert
        img(src='images/asciidoctor-pdf-issue.png')
      section.poster.invert
        img(src='images/front-door-sign.svg')
      section.poster
        img(src='images/planet-formation.jpg')
      section.recap
        h2 Always be welcoming newcomers
      section
        blockquote
          p You never lose points for professionalism.
          footer Guy Martin
      section.poster
        // TODO remake image as "Choose Civility -- in Open Source --; add Open Source logo"
        img(src='images/choose-civility.jpg')
      section.poster
        img(src='images/thank-you-key.jpg')
      section
        h2(style='font-size: 10vh') “I see you”
      section.poster
        img(src='images/bartosz.jpg')
      section.poster
        img(src='images/bartosz-devoxx.jpg')
      section.poster
        img(src='images/bartosz-slide.jpg')
      section.poster
        img(src='images/no-evil.jpg')
      section.poster
        img(src='images/mirror-ball-rays.jpg')
      //section.recap
      //  h2 Recognize them. Champion them.
      section.poster
        img(src='images/pool-creeper.jpg')
      section
         h2 Automate liberally
      section
        blockquote
          p Empowerment of individuals is a key part of what makes open source work.
          footer Tim O’Reilly
      section
        blockquote
          p Encouragement is oxygen for the soul.
      section.recap
        h2 Empower!
      section.poster.invert
        img(src='images/contributors.png')
      section
        // add a font icon over the stars, something like git-square or code-fork or mobile
        h2.stars * * * * *
      section.recap
        h2 Share the prosperity
      //section
      //  blockquote
      //    p The best developers want to work on open code. To hire quality developers, give them an open source outlet.
      //    footer Matt Asay
      section.poster.invert
        img(src='images/oss-virtuous-cycle.svg')
      section.poster
        h2(style='margin: 0; color: #efeeeb; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); position: absolute; z-index: 1; top: 45%; right: 21.5%; font-size: 1.35em') Thank you and good luck
        img(src='images/namaste-tap.png')
    script(src='build/build.js')
