doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //title All You Really Need to Know to Grow Open Source
    title Everything You Need to Know to Grow Open Source
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article.deck
      section
        h1
          //span.secondary All You Really Need to Know to
          span.secondary Everything You Need to Know to
          span.primary Grow Open Source
        p.author by Dan Allen
      section.poster
        img(src='images/brain-power.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/invasion.png', style='max-width: 100%; max-height: 100%')
      section
        h2 Why?
      section.poster
        img(src='images/raison-detre-label-glass.jpg', style='max-width: 100%; max-height: 100%')
      section
        h2 A&middot;M&middot;P
      section
        // maybe stack them?
        h2(style='font-size: 2.5em') <strong>A</strong>utonomy &middot; <strong>M</strong>astery &middot; <strong>P</strong>urpose
      section.poster
        // “off-centered ales for off-centered people”
        img(src='images/off-centered-plaque.jpg', style='max-width: 100%; max-height: 100%')
      section.recap
        // IDEA: show "raison d'être" shot again, perhaps different angle
        h2 Have a clear purpose
      section
        img(src='images/add-readme-notice.png', style='max-width: 100%; padding: 0 1em')
      section
        blockquote In a society that values speech free from esoteric, incomprehensible bullshit, speaking in jargon carries penalties.
      section.poster
        img(src='images/flatline-reaper.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/returning-pulse.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/neurons.jpg', style='max-width: 100%; max-height: 100%')
      section
        blockquote What’s relevant to a [community] is how well people are communicating their ideas, and how well they’re cooperating, not how clever the individuals are.
      section
        h2(style='text-align: left') Communi<span style="color: transparent">cate</span><span style="display: inline-block; width: 0; margin-left: -2.05em">ty</span>
      section
        h2(style='text-align: left') Communicate
      section
        h2(style='font-size: 25vh; margin: 0 0 -0.25em 0') +1
      section.recap
        h2 Show up &amp; communicate
      section.poster
        img(src='images/penguin-welcome.jpg', style='max-width: 100%; max-height: 100%')
      section
        h2 ? ? ? == Interest
      section
        img(src='images/asciidoctor-pdf-issue.png', style='max-width: 100%; max-height: 100%')
      section
        img(src='images/front-door-sign.svg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/planet-formation.jpg', style='max-width: 100%; max-height: 100%')
      section.recap
        h2 Always be welcoming newcomers
      section
        blockquote You never lose points for professionalism.
      section.poster
        // TODO remake image as "Choose Civility -- in Open Source --; add Open Source logo"
        img(src='images/choose-civility.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/thank-you-key.jpg', style='max-width: 100%; max-height: 100%')
      section
        h2(style='font-size: 10vh') “I see you”
      section.poster
        img(src='images/bartosz.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/bartosz-devoxx.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/bartosz-slide.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/no-evil.jpg', style='max-width: 100%; max-height: 100%')
      section.poster
        img(src='images/mirror-ball-rays.jpg', style='max-width: 100%; max-height: 100%')
      //section.recap
      //  h2 Recognize them. Champion them.
      section.poster
        img(src='images/pool-creeper.jpg', style='max-width: 100%; max-height: 100%')
      section
         h2 Automate liberally
      section
        blockquote Empowerment of individuals is a key part of what makes open source work.
      section
        blockquote Encouragement is oxygen for the soul.
      section.recap
        h2 Empower!
      section
        img(src='images/contributors.png', style='max-width: 100%; max-height: 100%')
      section
        // add a font icon over the stars, something like git-square or code-fork or mobile
        h2.stars * * * * *
      section.recap
        h2 Share the prosperity
      //section
      //  blockquote The best developers want to work on open code. To hire quality developers, give them an open source outlet.
      section
        img(src='images/oss-virtuous-cycle.svg', style='max-width: 100%; max-height: 100%')
      section.poster
        h2(style='margin: 0; color: #efeeeb; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); position: absolute; z-index: 1; top: 45%; right: 21.5%; font-size: 1.35em') Thank you and good luck
        img(src='images/namaste-tap.png', style='max-width: 100%; max-height: 100%')
    script(src='build/build.js')
